version: '3'

services:
    db:
        container_name: 'db'
        image: mysql:5.7
        # restart: always
        # volumes: # DBのデータはマウントさせる必要があるのか？
            # - ./mysql:/var/lib/mysql
        # ports:
        #     - ''
        environment:
            MYSQL_ROOT_PASSWORD: django
            MYSQL_DATABASE: django
            MYSQL_USER: django
            MYSQL_PASSWORD: django
            TZ: 'Asia/Tokyo'
        command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    
    python:
        container_name: 'python'
        build: .
        command: python3 manage.py runserver 0.0.0.0:8000
        depends_on:
            - db
        image: python3.9.4
        # restart: always
        volumes:
            - .:/code
        ports:
            - '8000:8000'
