{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Takahiro Suzuki, Kota Syoji, Wataru Takamoto">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="日程調整を簡潔にすることを目標にしたアプリ「すけっち」のプロトタイプです。\n初学者達3人で力を合わせて作ったので，拙い点が多々ございますがご了承下さい。">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link href="{% static 'css/mystyle.css' %}" rel="stylesheet" type="text/css" />

    <title>すけっち｜{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
</head>

<body>
    <header style="width: 100%; margin: 0px;">
        <nav>
            <div id="header-box">
                <div class="top-menu" style="background-image: url({% static 'img/background_image.jpg' %})">
                    <strong style='color: black;'>すけっち</strong>
                </div>
                <div class="top-menu"><strong style="color: red;">{{ user.username }}さん</strong></div>
                <div class="top-menu" style="{% block is_home %}{% endblock %}"><a href="{% url 'base:index' %}">ホーム</a>
                </div>
                <div class="top-menu" style="{% block is_propose %}{% endblock %}"><a
                        href="{% url 'base:propose' %}">日程調整</a></div>
                <div class="top-menu" style="{% block is_follow %}{% endblock %}"><a
                        href="{% url 'base:follow' %}">友達申請</a></div>
                <div class="top-menu" style="{% block is_friends_list %}{% endblock %}"><a
                        href="{% url 'base:friends' %}">友達リスト</a></div>
                <div class="top-menu"><a href="{% url 'account_logout' %}">ログアウト</a></div>
            </div>
        </nav>
    </header>

    <div style="position:relative; width:100%;">
        {% block content %}{% endblock %}
    </div>

    <div style="position:absolute;top:60px;left:50px;width:80%;" id="timeout">
        {% if messages %}
        <div class="container">
            <div class="row">
                <div class="w-100">
                    <ul class="messages" style="list-style: none;">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <footer style="background-color: black; position: fixed; bottom: 0; width: 100%; text-align: center;">
        <p style="color: white; font-size: 18px; margin: 8px 8px;">&copy; 2021 Takahiro Suzuki, Kota Shoji, Wataru
            Takemoto.</p>
    </footer>

    <script type="text/javascript">
        $(function () {
            $('#timeout').fadeOut('slow');
        })
    </script>


</body>

</html>