{% extends 'base.html' %}

{% block title %}友達リスト{% endblock %}

{% block is_friends_list %}background-color: skyblue;{% endblock %}

{% block content %}

<div style="margin: 50px auto; width: 50%;border: 1px solid rgba(136, 133, 133, 0.5);border-radius: 5px;">
    {% for friend in friend_list %}
    <p>
        <span style="font-size: 32px;">&nbsp;{{ friend.follow_user }}</span>
        <span style="color: gray;font-size: 20px;">{{ friend.follow_user.email }}</span>
    </p>
    {% empty %}
    <p style="font-size: 24px;"><b>友達がいません。。。</b></p>
    {% endfor %}
</div>

{% if is_paginated %}
<nav>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <span>&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for num in paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item active">
            <span class="page-link">
                {{ num }}
                <span class="sr-only">(current)</span>
            </span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                <span>&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}


{% endblock %}