{% extends 'base.html' %}

{% block title %}ホーム{% endblock %}

{% block is_home %}background-color: skyblue;{% endblock %}

{% block content %}

<div id="content-box">

    <section class="box">
        <h1>お知らせ</h1>
        <table class="table-box">
            <tbody class="table-display">
                {% for information in information_list %}
                    {% if information.adjusting_schedules_id %}
                        <tr>
                            <th style="width: 40%">{{ information.created_at }}：　</th>
                            <td>{{information.adjusting_schedules_id.master_user_id}}から<a href="#!" style="text-decoration: none;">予定「{{information.adjusting_schedules_id.name}}」</a>の調整依頼が来ました</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th style="width: 40%"> {{ information.created_at }}：　</th>
                            <td><a href="#!" style="text-decoration: none;">予定 {{ information.events_id }} が確定しました。</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section class="box">
        <h1>予定一覧</h1>
        <table class="table-box">
            <tbody class="table-display">
                {% for information in information_list %}
                {% if information.events_id %}
                    <tr>
                        <th><a href="#!" style="text-decoration: none; color: black;">{{ information.events_id }}</a></th>
                        <td>{{ information.message }}</td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </section>

</div>

{% endblock %}