{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'packages/core/main.css' %}" rel='stylesheet' />
<link href="{% static 'packages/daygrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'packages/timegrid/main.css' %}" rel='stylesheet' />
<script src="{% static 'packages/core/main.js' %}"></script>
<script src="{% static 'packages/interaction/main.js' %}"></script>
<script src="{% static 'packages/daygrid/main.js' %}"></script>
<script src="{% static 'packages/timegrid/main.js' %}"></script>
<script src="{% static 'packages/core/locales-all.js' %}"></script>
<script src="{% static 'js/test.js' %}"></script>
<link href="{% static 'css/hugahugahuga.css' %}" />
<style>
    /* body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  } */

    /* #calendar {
    max-width: 900px;
    margin: 0 auto;
  } */
</style>
{{ form.media }}
{% endblock %}

{% block title %}日程調整{% endblock %}

{% block is_propose %}background-color: skyblue;{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="container" style="margin: 30px auto;">
        <div class="row" style="margin: 0px;">
            <div class="col-8">
                <div class="row">
                    <div id='calendar'></div>
                    <!-- <div class="col-6">
                        <ul style="list-style-type: none;">
                            <li class="field">
                                {{ form.date1_start.label_tag }}
                                {{ form.date1_start }}
                                {{ form.date1_start.errors }}
                            </li>
                            <li class="field">
                                {{ form.date2_start.label_tag }}
                                {{ form.date2_start }}
                                {{ form.date2_start.errors }}
                            </li>
                            <li class="field">
                                {{ form.date3_start.label_tag }}
                                {{ form.date3_start }}
                                {{ form.date3_start.errors }}
                            </li>
                            <li class="field">
                                {{ form.date4_start.label_tag }}
                                {{ form.date4_start }}
                                {{ form.date4_start.errors }}
                            </li>
                            <li class="field">
                                {{ form.date5_start.label_tag }}
                                {{ form.date5_start }}
                                {{ form.date5_start.errors }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul style="list-style-type: none;">
                            <li class="field">
                                {{ form.date1_end.label_tag }}
                                {{ form.date1_end }}
                                {{ form.date1_end.errors }}
                            </li>
                            <li class="field">
                                {{ form.date2_end.label_tag }}
                                {{ form.date2_end }}
                                {{ form.date2_end.errors }}
                            </li>
                            <li class="field">
                                {{ form.date3_end.label_tag }}
                                {{ form.date3_end }}
                                {{ form.date3_end.errors }}
                            </li>
                            <li class="field">
                                {{ form.date4_end.label_tag }}
                                {{ form.date4_end }}
                                {{ form.date4_end.errors }}
                            </li>
                            <li class="field">
                                {{ form.date5_end.label_tag }}
                                {{ form.date5_end }}
                                {{ form.date5_end.errors }}
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-4">
                <div class="row" style="margin:20px 0px">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>

                <p>宛先リスト</p>
                <ul style="list-style-type: none;">
                    <li class="field">
                        {{ form.friend1.label_tag }}
                        {{ form.friend1 }}
                        {{ form.friend1.errors }}
                    </li>
                    <li class="field">
                        {{ form.friend2.label_tag }}
                        {{ form.friend2 }}
                        {{ form.friend2.errors }}
                    </li>
                    <li class="field">
                        {{ form.friend3.label_tag }}
                        {{ form.friend3 }}
                        {{ form.friend3.errors }}
                    </li>
                </ul>
                <p>候補日程</p>

                <div class="row" style="margin: 0px 0px 0px 20px">

                    <table id="date_table" class="date_table">
                        <tbody>
                            <tr>
                                <th style='width: 3em'>候補1</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th style='width: 3em'>候補2</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th style='width: 3em'>候補3</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th style='width: 3em'>候補4</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th style='width: 3em'>候補5</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row" style="margin: 30px;">
                    {{ form.date1_start.as_hidden }}
                    {{ form.date2_start.as_hidden }}
                    {{ form.date3_start.as_hidden }}
                    {{ form.date4_start.as_hidden }}
                    {{ form.date5_start.as_hidden }}
                    {{ form.date1_end.as_hidden }}
                    {{ form.date2_end.as_hidden }}
                    {{ form.date3_end.as_hidden }}
                    {{ form.date4_end.as_hidden }}
                    {{ form.date5_end.as_hidden }}
                    <button type="submit" style="margin: 10px;">送信</button>
                    <button type="reset" style="margin: 10px;">取り消し</button>
                </div>

            </div>
        </div>
    </div>
</form>
{% endblock %}