{% extends 'account/base.html' %}
{% load static %}
{% load account %}
<!--accountテンプレートタグライブラリを読み込む-->
{% block title%} ログイン {% endblock %}
<!--TODO: padding marginとかの見直し -->
{% block head %}
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<div>
  <h1 style="text-align:center; font-size:600%; margin-top:18vh"><sapan style="color:#46bd17;">す</sapan><span style="color:#f31818">け</span><span style="color:#1b1ed3">っ</span><span style="color:#f3e418">ち</span></h1>

    <form class="login" method="POST" action="{% url 'account_login' %}" style="text-align:center; margin-top: 5vh">
    {% csrf_token %}
      <div>
        <div style="margin:0px auto; text-align:right; width:400px;">
          <table style="text-align: center; border-collapse: separate; border-spacing: 30px;">
            <tbody>
              <tr>
                <th>{{ form.login.label }}</th>
                <td>{{ form.login }}</td>
              </tr>
              <tr>
                <th>{{ form.password.label }}</th>
                <td>{{ form.password }}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>  
    
    {% if redirect_field_value %} <!-- redirect_field_valueが設定されていると、ログイン後にredirect_field_valueに飛ぶ 初期値はNONEだった-->
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <p style="margin-top:3vh">ログイン状態を維持しますか？ {{ form.remember }}</p>
    <button class="primaryAction btn btn-light" style="border:1px solid rgba(136, 133, 133, 0.5);" type="submit">ログイン</button>
    </form>

    <p style="text-align:center; margin-top:5vh">&#x25B6;<a href="{{ signup_url }}" style="color:rgb(3, 1, 124)">サインアップページ</a>へ</p>
  </div>
{% endblock %}

