{% extends "account/base.html" %}

{% block head_title %}サインアップ{% endblock %}

 {% block content %} <!-- style値を直書きしない-->
<h1 style="text-align:center; font-size:400%; margin-top:20vh">登録フォーム</h1>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" style="text-align:center; margin-top:7%">
  {% csrf_token %}
  <div>
    <div style="margin:0px auto; text-align:right; width:400px">
      <table style="border-collapse: separate; border-spacing: 15px;">
        {{ form.as_table }}
      </table>
    </div>
</div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-light" style="border:1px solid rgba(136, 133, 133, 0.5);" type="submit" style="margin-top:3vh">登録する</button>
</form>
<p style="text-align:center;  margin-top: 3vh;">&#x25B6;<a href="{{ login_url }}">ログインページ</a>へ</p>

{% endblock %}
