{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

 {% block content %} <!-- style値を直書きしない-->
<h1 style="text-align:center; font-size:400%; margin-top:20vh">{% trans "Sign Up" %}</h1>

<p style="text-align:center;">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" style="text-align:center; margin-top:7%">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-light" type="submit" style="margin-top:3vh">{% trans "Sign Up" %} </button>
</form>

{% endblock %}
