#header-box{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 0px;
}

.top-menu{
    text-align: center;
    padding: 12px 20px;
    margin: 0px;
    border: 1px solid;
    flex-basis: auto;
    flex-grow: 1;
}

#content-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 90vh;
    margin: 0px;
}

.box{
    text-align: left;
    margin: 50px 25px 50px 25px;
    padding: 0px;
    width: 50%;
    height: 80vh;
    background-color: blanchedalmond;
    border: 5px double blue;
}

.table-box{
    text-align: left;
    position: relative;
    width: 100%;
    height: 92%;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.table-display{
    display: block;
    height: 100%;
    overflow-y: scroll;
}

#address-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    margin: 0px;
}

#date_table{
    width: 100%;
    color:rgb(63, 62, 62);
    border-collapse: separate; 
    border:1px solid rgba(136, 133, 133, 0.5); 
    border-spacing: 0px 10px; 
    border-radius:5px;   
}
