{% load static %}

<!DOCTYPE html>
<html lang="ja">

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Takahiro Suzuki, Kota Syoji, Wataru Takamoto">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="日程調整を簡潔にすることを目標にしたアプリ「すけっち」のプロトタイプです。\n初学者達3人で力を合わせて作ったので，拙い点が多々ございますがご了承下さい。">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link href="{% static 'css/mystyle.css' %}" rel="stylesheet" type="text/css" />

    <title>すけっち｜{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>

  <body style="background-image: url({% static 'img/white_background.jpeg' %});">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-3"></div>
        <div class="col-6" style="background-image: url({% static 'img/water_background.jpeg' %}); background-size:cover">
          {% block content %}{% endblock %}
        </div>
        <div class="col-3"></div>
      </div>
    </div>
    
    <footer style="background-color: black; position: fixed; bottom: 0; width: 100%; text-align: center;">
      <p style="color: white; font-size: 18px; margin: 8px 8px;">&copy; 2021 Takahiro Suzuki, Kota Shoji, Wataru Takemoto.</p>
    </footer>
  </body>

</html>