{% extends 'account/base.html' %}
{% load static %}
{% block title%} ログイン {% endblock %}
<!--TODO: padding marginとかの見直し -->
{% block content %}
  <div style="padding:100px 0px 200px">
    <h1 style="text-align:center; font-size:600%;  margin:50px 0px 50px;">すけっち</h1>

    <form class="login" method="POST" action="{% url 'account_login' %}" style="text-align:center;">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="primaryAction btn btn-light" style="margin:10px" type="submit">Log in</button>
    </form>

    <p style="text-align:center; margin:10px">&#x25B6;<a href="{{ signup_url }}">未登録の方はこちら</a></p>
  </div>
{% endblock %}